{
  "main": "main.php",
  "output": "bin/certbot-online.phar",
  "metadata": {
    "name": "certbot-online"
  },
  "git": "git_version",
  "replacements": {
    "app_description": "A certbot hook generating DNS TXT challenge records using Online.net API",
    "app_name": "certbot-online"
  }
}